#main {
	min-height: 100vh;
	background: #ffffff;
	padding-top: 60px;
}

#titleBox {
	text-align: center;
	animation: fade-in 0.5s ease-out 0.3s both, going-down 0.5s ease-out 0.3s both;
}

:root {
	--main-lightpink: #faaca8;
	--main-lightpurple: #ddd6f3;
	--main-gray: #8d8d8d;
	--main-lightgray: #d9d4cf;
	
	--warning-red: #f15c5c;
	
}

h1,
.mainText {
	line-height: 48px;
	line-height: 3rem;
	font-size: 40px;
	font-size: 2.5rem;
	font-weight: bolder;
}

h3,
.elevatorPitch {
	line-height: 35.2px;
	line-height: 2.2rem;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: lighter;
	color: var(--main-gray);
	font-family: 'a고딕13', sans-serif;
}

.main_img {
	display: inline-block;
	margin: 0 auto;
	margin-top: 20px;
	width: 250px;
	height: 250px;
}

.time_logo {
	display: inline-block;
	margin: 0 auto;
	margin-top: 20px;
	width: 30px;
	height: 30px;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c6/Alarms_%26_Clock_icon.png');
	background-size: cover;
}

#name-input {
	box-sizing: border-box;
	margin: 20px 25% 10px 25%;
	width: 40%;
}

#name-input > input {
	width: 100%;
	height: 40px;
	border: 1px solid;
	border-color: var(--main-lightgray);
	border-radius: 20px;
	font-weight: lighter;
	font-size: 19.2px;
	font-size: 1.2rem;
	text-align: center;
	opacity: 0;
	animation: fade-in 0.4s ease-out 1.4s both, going-down 0.4s ease-out 1.4s both;
}

#name-input :focus {
	outline:none; 
}


.check-name {
	display: inline-block;
	margin: 15px 10%;
	width: 80%;
	text-align: center;
}
.warning {
	color: var(--warning-red);
}
.start-wrap {
	margin: 0 20% 20px 20%;
	width: 50%;
}
.start {
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-radius: 50px;
	text-align: center;
	background-color: var(--main-lightpink);
	border: 0;
	color: #ffffff;
	font-weight: 600;
	font-size: 32px;
	font-size: 2rem;
	animation: fade-in 0.5s ease-out 1.9s both, going-down 0.5s ease-out 1.9s both,
		start-flicker 2.5s infinite;
	cursor: pointer;
	margin-left: 10%;
}
.start:hover,
.start:focus {
	animation-play-state: paused;
	background-color: var(--main-lightpurple);
	border: none;
    outline: none;
}
.start:active {
	animation-play-state: running;
}