#main {
  min-height: 100vh;
  box-shadow: #ddd 0px 0px 10px 5px;
  background: rgb(252, 252, 252);
}

#titleBox {
  text-align: center;
  animation: fade-in 0.5s ease-out 0.3s both, going-down 0.5s ease-out 0.3s both;
}

h1, .mainText{
  line-height: 48px;
  line-height: 3rem;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: bolder;
}

h3, .elevatorPitch{
  line-height: 35.2px;
  line-height: 2.2rem;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: lighter;
}

.time-logo {
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
  width: 30px;
  height: 30px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c6/Alarms_%26_Clock_icon.png');
  background-size: cover;
}
