#main {
	min-height: 100vh;
	box-shadow: #ddd 0px 0px 10px 5px;
	background: rgb(252, 252, 252);
}

#titleBox {
	text-align: center;
	animation: fade-in 0.5s ease-out 0.3s both, going-down 0.5s ease-out 0.3s both;
}

:root {
	--main-black: #3e4149;
	--main-darkgray: #444f59;
	--main-pink: #fd999a;
	--main-lightpink: #fec8c9;
	
}


h1,
.mainText {
	line-height: 48px;
	line-height: 3rem;
	font-size: 40px;
	font-size: 2.5rem;
	font-weight: bolder;
}

h3,
.elevatorPitch {
	line-height: 35.2px;
	line-height: 2.2rem;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: lighter;
}

.main_img {
	display: inline-block;
	margin: 0 auto;
	width: 300px;
	height: 300px;
	background-image: url('https://previews.123rf.com/images/frender/frender1609/frender160903759/62850159-%EB%AC%BC%EC%9D%8C%ED%91%9C%EC%99%80-%EB%82%A8%EC%9E%90-3d-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8-%ED%9D%B0%EC%83%89-%EB%B0%B0%EA%B2%BD%EC%97%90-%EA%B3%A0%EB%A6%BD-%EB%90%9C.jpg');
	background-size: cover;
}

.time_logo {
	display: inline-block;
	margin: 0 auto;
	margin-top: 20px;
	width: 30px;
	height: 30px;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c6/Alarms_%26_Clock_icon.png');
	background-size: cover;
}

#name-input {
	box-sizing: border-box;
	margin: 20px 25% 10px 25%;
	width: 50%;
}

#name-input > input {
	width: 100%;
	height: 40px;
	border: 1px #ddd solid;
	border-radius: 20px;
	font-weight: lighter;
	font-size: 19.2px;
	font-size: 1.2rem;
	text-align: center;
	opacity: 0;
	animation: fade-in 0.4s ease-out 1.4s both, going-down 0.4s ease-out 1.4s both;
}

.check-name {
	display: inline-block;
	margin: 10px 10%;
	width: 80%;
	text-align: center;
}
.warning {
	color: rgb(231, 20, 20, 0.8);
	font-weight: bold;
}
.start-wrap {
	margin: 0 20% 20px 20%;
	width: 60%;
}
.start {
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-radius: 50px;
	text-align: center;
	background-color: rgba(0, 135, 245, 0.9);
	color: #fff;
	font-weight: 600;
	font-size: 32px;
	font-size: 2rem;
	animation: fade-in 0.5s ease-out 1.9s both, going-down 0.5s ease-out 1.9s both,
		start-flicker 2.5s infinite;
	cursor: pointer;
}
.start:hover,
.start:focus {
	animation-play-state: paused;
}
.start:active {
	animation-play-state: running;
}